body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('img/background.png');
    background-size: cover; 
    background-position: center;
    margin: 0;
    padding: 0;
}

main {
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 30px;
    font-weight: 300;
}

#aankleedpopje-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    max-width: 100%;
    /* margin-top: 5px; */
    position: relative;
}

#aankleedpopje-leeg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

#aankleedpopje-leeg img {
    width: 100%;
    height: auto; 
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#container-top, #container-rok {
    display: flex;
    justify-content: center;
    position: relative;
}

button {
    margin: 5px;
    padding: 10px 20px ;
    font-size: 20px;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: center;
    width: 80%;
    margin-top: 3em;
}

.groter {
    transform: scale(1.2);
    transition: transform 0.3s ease; 
}

h1 {
    font-size: large;
}

#input-name {
    padding: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
